/*
    Orden de estilos
    1- Posicionamiento
    2- Modelo caja (box model)
    3- Tipografía
    4- Visuales
    5- Otros





*/
:root{
                                    /*  
                                ██╗░░░██╗░█████╗░██████╗░██╗░█████╗░██████╗░██╗░░░░░███████╗░██████╗
                                ██║░░░██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║░░░░░██╔════╝██╔════╝
                                ╚██╗░██╔╝███████║██████╔╝██║███████║██████╦╝██║░░░░░█████╗░░╚█████╗░
                                ░╚████╔╝░██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║░░░░░██╔══╝░░░╚═══██╗
                                ░░╚██╔╝░░██║░░██║██║░░██║██║██║░░██║██████╦╝███████╗███████╗██████╔╝
                                ░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚═════╝░╚══════╝╚══════╝╚═════╝░
                                */
    /*--------------------𝗙𝗢𝗡𝗧𝗦------------------------*/
    --primary-family-font: 'DM Sans', sans-serif;
    --secondary-family-font: 'Inter', sans-serif;

    /*  MOBILE STYLE FONT */
    --h1-mobile-style:     Bold;
    --h1-mobile-size:      2.4rem;
    --h1-mobile-lineheight:2.6rem;

    --h2-mobile-style:     Medium;
    --h2-mobile-size:      1.4rem;
    --h2-mobile-lineheight:1.8rem;

    /* TABLET and more STYLE FONT */
    --h1-tablet-style:     Bold;
    --h1-tablet-size:      4rem;
    --h1-tablet-lineheight:4.2rem;

    --h2-tablet-style:     Bold;
    --h2-tablet-size:      2rem;
    --h2-tablet-lineheight:2.4rem;



    /*--------------------𝘾𝙊𝙇𝙊𝙍𝙎------------------------*/

    --linear-bg: Linear Gradient
    #201E1C @ 11.19%
    #F7931A @ 100%;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;


}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--primary-family-font);
}