/*
    Orden de estilos
    1- Posicionamiento
    2- Modelo caja (box model)
    3- Tipografía
    4- Visuales
    5- Otros





*/
:root{
                                    /*  
                                ██╗░░░██╗░█████╗░██████╗░██╗░█████╗░██████╗░██╗░░░░░███████╗░██████╗
                                ██║░░░██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║░░░░░██╔════╝██╔════╝
                                ╚██╗░██╔╝███████║██████╔╝██║███████║██████╦╝██║░░░░░█████╗░░╚█████╗░
                                ░╚████╔╝░██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║░░░░░██╔══╝░░░╚═══██╗
                                ░░╚██╔╝░░██║░░██║██║░░██║██║██║░░██║██████╦╝███████╗███████╗██████╔╝
                                ░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚═════╝░╚══════╝╚══════╝╚═════╝░
                                */
    /*--------------------𝗙𝗢𝗡𝗧𝗦------------------------*/
    --primary-family-font: 'DM Sans', sans-serif;
    --secondary-family-font: 'Inter', sans-serif;

    /*  MOBILE STYLE FONT */
    --weight-bold:             700;
    --weight-normal:           500;   
    --weight-thin:             400;

    --bold-style:       Bold;
    --normal-style:     normal;

    --h1-mobile-size:          2.4rem;
    --h1-mobile-lineheight:    2.6rem;
    --normal-mobile-size:      1.4rem;
    --normal-mobile-lineheight:1.8rem;

    /* TABLET and more STYLE FONT */
    --h1-tablet-size:      4rem;
    --h1-tablet-lineheight:4.2rem;

    --h2-tablet-size:      2rem;
    --h2-tablet-lineheight:2.4rem;



    /*--------------------𝘾𝙊𝙇𝙊𝙍𝙎------------------------*/

    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;


}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--primary-family-font);
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;
    background: var(--linear-bg);
}
header img{
    width: 150px ;
    height: 24px;
    margin-top: 39px;
    align-self: center;
}

.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
    
}
.header__title-container h1{
    color: var(--just-white);
    font-size: var(--h1-mobile-size);
    font-style: var(--normal-style);
    line-height: var(--h1-mobile-lineheight);
}

.header__title-container p {
    margin-top: 24px;
    font-size: var(--normal-mobile-size);
    font-weight: var(--weight-normal);
    line-height: var(--normal-mobile-lineheight);
    color: var(--soft-orange);
}

.header__title-container .header__button{
    position: absolute;
    left: calc(50% - 114.5px);
    top: 240px;
    display: block;
    margin-top: 35px;
    padding: 12px 16px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-weight: var(--bold-style);
    font-style: var(--normal-style);
    font-size: var(--normal-mobile-size);
    text-decoration: none;
    color: var(--warm-black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.backgroundImg{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url(../assets/images/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.exchange-container__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
} 
.main__exchange-container h2{
    margin-top: 40px;
    font-size: var(--h1-mobile-size);
    font-weight: var(--bold-style);
    line-height: var(--h1-mobile-lineheight);
    color: var(--warm-black);
}
.main__exchange-container p{
    margin-top: 24px;
    font-size: var(--normal-mobile-size);
    font-weight: var(--weight-normal);
    line-height: var(--normal-mobile-lineheight);
    color: #757575;

}
.trending{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}
.trending-up{
    background: url(../assets/icons/trending-up.svg);
}
.trending-down{
    background: url(../assets/icons/trending-down.svg);
}


.tables-container__currency-table, .tables-container__commissions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 270px;
    margin: 0 auto;
    font-family: var(--secondary-family-font);
}

.exchange-container__tables-container .currency-table--title,
.exchange-container__tables-container .commissions-table--title{
    padding: 0 30px;
    font-size: 1.8rem;
    font-family: var(--primary-font-family);
    font-weight: var(--weight-bold);
    line-height: 2.3rem;
    text-align: start;
    color: #FF9536;
}
.exchange-container__tables-container .commissions-table--title{
    color: var(--secondary-blue);
}
.currency-table__container, .commissions-table__container{
    width: 197px;
    height:159px;
    margin: 16px auto;
}

.currency-table__container table, .commissions-table__container table{
    width: 100%;
    height: 100%;
}

.currency-table__container td, .commissions-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--weight-normal);
    line-height: 1.7rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding: 10px 12px;
    line-height: 1.9rem;
}

.currency-table__container .table--top-left{
    border-radius: 15px 0 0 0;
}
.currency-table__container .table--top-right{
    border-radius: 0 15px 0 0;
}
.currency-table__container .table--bottom-right{
    border-radius:  0 0 15px 0;
}
.currency-table__container .table--bottom-left{
    border-radius:  0 0 0 15px;
}
.currency-table__container .table--right{
    padding: 11px 12px;
    font-size: var(--normal-mobile-size);
    font-weight: var(--weight-thin);
    color: #757575;
    
}

.commissions-table__date, .currency-table__date{
    width: 190px;
    height: 31px;
    margin: 30px auto 0; 
    padding: 8px;
    text-align: center;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.currency-table__date{
    background-color: var(--soft-orange);
}
.currency-table__date p, .commissions-table__date p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: var(--weight-thin);
    color: var(--warm-black);
}
.main__product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 16px 32px;
    background-color: var(--black);
}
.batatabit-icon-right{
    position: relative;
    bottom:12px;
    bottom:30px ;
    left: calc(50% - 20px);
    display: inline-block;
    width: 40px;
    height: 24px;
    background-image: url("../assets/icons/batabit-icon-right.svg");
}
.product-detail--tttle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 20px auto 0;
    text-align: center;
    color: var(--just-white);
}
.product-detail--title h2{
    font-size: var(--h1-mobile-size);
    font-weight: var(--weight-bold);
    line-height: var(--h1-mobile-lineheight);
    margin-bottom: 24px;
}
.product-detail--tttle p{
    font-size: var(--normal-mobile-size);
    color: #808080;
    margin-bottom: 32px;
}
.card-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom:10px ;
    background-repeat: no-repeat;
    background-size: cover;
}
.clock{
    background-image: url("../assets/icons/clock.svg");  
}
.eye{
    background-image: url("../assets/icons/eye.svg");
}
.dollar-sing{
    background-image: url("../assets/icons/dollar-sign.svg");
}
.check-circle{
    background-image: url("../assets/icons/check-circle.svg");
}
.cards-container__card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 16px;
    background-color: var(--warm-black);
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.16) ;
    border-radius: 4px;
}
.cards-container__card .card--title{
    margin-bottom: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: var(--weight-bold);
    color: var(--just-white);
}
.cards-container__card .card--body{
    margin-bottom: 10px;
    font-size: var(--normal-mobile-size);
    line-height: 1.8rem;
    font-weight: var(--weight-normal);
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-image: url("../assets/images/bitcoinbaby.jpg");
    background-repeat: no-repeat;
}
.bitcoin-img-container h2{
    position: relative;
    top: 62px;
    color: var(--just-white);
    font-size: var(--h1-mobile-size);
    line-height: 2.6rem;
    text-align: center;
}

.main__plans{
    height: auto;
    margin: auto;
    padding: 62px 0;
    text-align: center;
}

.plans__title h2{
    font-size: var(--h1-mobile-size);
    font-weight: var(--weight-bold);
    line-height: 2.6rem;
}
.plans__title > p{
    margin-top: 24px;
    font-size: var(--normal-mobile-size) ;
    font-weight: var(--weight-normal);
    line-height: 1.8rem;
    color: #757575;
}
.slider__card-container{
    position: relative;
}
.slider__card-container > p{
    position: absolute;
    left: calc(50% - 49.32px);
    top:24px;
    padding: 8px;
    font-family: var(--secondary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--bitcoin-orange) ;
 
}
.card-container__card{
    scroll-snap-align: center;
    height: 247px;
    width: 60%;
    min-width: 190px;
    max-width: 300px;
    margin:  40px 15px;
    padding: 20px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}

.card-container__card h3{
    margin: 10px;
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: var(--weight-normal);
    font-size: var(--normal-mobile-size) ;
    line-height: 1.8rem;
    color: #000000;
}
.card-container__card .card--price{
    font-family: var(--secondary-family-font);
    font-weight: var(--weight-bold);
    font-size: 5.2rem;
    line-height: 6.3rem;
    letter-spacing: -0.08em;
}

.card-container__card .card--detail{
    margin-top: 8px;
    font-family: var(--secondary-family-font);
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
}
.card--price sup{
    position: relative;
    left: 5px;
    top: -5px;
    font-size: 12px ;
}
.plans__slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.card-container__card button{
    margin-top: 16px;
    width: 151px;
    height: 48px;
    font-family: var(--primary-family-font);
    font-weight: var(--weight-bold);
    font-size: var(--normal-mobile-size);
    color: var(--warm-black);
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
}
.arrow-right{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/arrow-right.svg);
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

footer{
    padding: 50px 60px;
    display: flex;
    background-color: var(--bitcoin-orange);
}
footer section{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.footer__links{
    display: flex;
    flex-direction: row;
}

.footer__links a{
    display: inline-block;
    width: 100%;
    margin: 4px;
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: var(--weight-normal);
    font-size: var(--normal-mobile-size);
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--just-white);
}

.footer__brand figcaption{
    font-size: 8px;
    text-align: center;
    color: var(--soft-orange);
}
.footer__brand picture{
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.footer__brand div{
    width: 100%;
    height: 100%;
}
.footer__brand img{
    width: 40px;
    height: 24px;
}